
:root {
    /* #region ========== THEME */
        color-scheme: light;
        --txt-theme: light-dark(var(--black), var(--white));
        --bg-theme: light-dark(var(--white), var(--black));
    /* #endregion ======= THEME END */

    /* #region ========== FONTS */
        --default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* #endregion ======= FONTS END */

    /* #region ========== WARNA */
        --primary: light-dark(#29b765, #2ECC71);
        --white: #fbfbfb;      
        --black: #181818;
        --black-soft: #3D3B40;
        --grey: #676767;
        --border: #e1e1e1;
    /* #endregion ======= WARNA END*/

    /* #region ========== MIX */
        --max-page: 1350px;
        --padding-page-x: 3rem;

        --anim: .25s ease;
    /* #endregion ======= MIX END*/
}

/* #region ========== DARK CLASS */
    body.dark {
        color-scheme: dark;
    }
/* #endregion ======= DARK CLASS END */